* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100vh;
}

.document {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 792px;
  width: 612px;
  border: 1px solid black;
  padding: 10px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
  height: 792px;
  width: 100px;
}

.add-btn {
  height: 30px;
  width: 30px;
  font-size: 25px;
  margin-left: 10px;
}

.add-btn:hover {
  background-color: lightsteelblue;
  cursor: pointer;
}

.resume-header {
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 8%;
  width: 100%;
}

.header-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 25px;
}

.name {
  font-size: 25px;
}

.name:hover {
  background: lightgrey;
  cursor: pointer;
}

.edit-name {
  border: none;
  font-size: 25px;
  background-color: lightgrey;
}

.header-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  height: 20px;
  width: 100%;
}

.header-subinfo {
  font-size: 15px;
}

.header-subinfo:hover {
  background: lightgrey;
  cursor: pointer;
}

.edit-header-subinfo {
  border: none;
  font-size: 15px;
  background-color: lightgrey;
}


.resume-education {
  display: flex;
  flex-direction: column;
  min-height: 15%;
  width: 100%;
}

.education-header {
  font-size: 20px;
  border-bottom: 1px solid black;
}

.education-subheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.education-info {
  font-size: 15px;
}

.education-info:hover {
  background: lightgrey;
  cursor: pointer;
}

.edit-education-info {
  border: none;
  text-align: left;
  font-size: 15px;
  background-color: lightgrey;
}

.education-description {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.bullet-point {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
}

.bullet-text:hover {
  background: lightgrey;
  cursor: pointer;
}

.edit-bullet-text {
  border: none;
  text-align: left;
  font-size: 15px;
  background-color: lightgrey;
}

.delete-bullet-btn {
  height: 20px;
  width: 20px;
  background-color: rgb(228, 105, 105);
}

.delete-bullet-btn:hover {
  cursor: pointer;
  background-color: rgb(218, 62, 62);
}



.resume-experience {
  display: flex;
  flex-direction: column;
  min-height: 50%;
  width: 100%;
}

.experience-header {
  font-size: 20px;
  border-bottom: 1px solid black;
}

.experience-subheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.experience-block {
  display: flex;
  flex-direction: column;
}

.experience-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.experience-info:hover {
  background: lightgrey;
  cursor: pointer;
}

.edit-experience-info {
  border: none;
  text-align: left;
  font-size: 15px;
  background-color: lightgrey;
}



.resume-skills {
  display: flex;
  flex-direction: column;
  height: 10%;
  width: 100%;
}

.skills-header {
  font-size: 20px;
  border-bottom: 1px solid black;
}

.skills-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.skill-info {
  font-size: 15px;
}

.skill-info:hover {
  background: lightgrey;
  cursor: pointer;
}

.edit-skill-info {
  border: none;
  text-align: left;
  font-size: 15px;
  background-color: lightgrey;
}



.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}
